.portadaContainer {
    /*display: none;*/
    display: flex;
    width: 90vw;
    height: 18vw;
    margin: auto;
    justify-content: space-between;
}

.portadaA {
    display: flex;
}

.portadaA img {
    width: 18vw;
    height: 18vw;
}

.tituloPortada {
    margin: auto;
    font-size: 1.2rem;
}

.portadaB {
    margin: auto 0;
}

.portadaB img {
    height: 7.14vw;
}

.border-bottom-right {
    border-bottom: 5px solid black;
    border-right: 5px solid blue;
}

.datos1 {
    margin: auto;
    width: 75vw;
    text-align: center;
    font-size: 1.7rem;
}

.datos1 p {
    padding-top: 30px
}

.mayuscula {
    font-size: 2.7rem;
    font-weight: bold;
}

.img1 {
    width: 25%;
}

.border-radius1 {
    border-top: 5px solid rgba(255, 0, 0, 0.192);
    border-right: 5px solid rgba(0, 0, 255, 0.178);
    border-bottom: 5px solid rgba(0, 0, 0, 0.171);
    border-left: 5px solid rgba(128, 128, 128, 0.24);
    border-radius: 50%;
}

.grid-2columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#imgFotoApp {
    width: 100%;
}

footer {
    max-width: max-content;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 879px) {
    .tituloPortada {
        font-size: 1rem;
    }
}

@media screen and (max-width: 673px) {
    .tituloPortada {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 588px) {
    .tituloPortada {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 505px) {
    .tituloPortada {
        font-size: 0.6rem;
    }
}